use flake ..
git config core.hooksPath git

export PUBLIC_HOST="legist.nadevko.cc"
export BASE_PATH="/api"
export CLOUDFLARE_TOKEN="eyJhIjoiODIwYTgyMDMxNDM0YzhjMDk5OWFlN2UyYmQ2ZjRhMDciLCJ0IjoiYzJmZGFhYjQtNDdhNC00ZjcyLTlkZWEtNjdkNTk0NWYwODNiIiwicyI6IlpESTRaamcwWkRZdE5qaG1PQzAwWldaa0xXRXlOR010TUdJeU16TXdZV00zTkRKbE5UTmxPR05pWVRVdFptUmpZUzAwWWpBeUxUaGtaV1F0TVRZeE5tUm1aV1E0WXpjeCJ9"
export ADDR=:8080
export ENV=dev
export DB_PATH=../data/legist.sqlite
export DATA_PATH=../data

export QDRANT_HOST=127.0.0.1
export QDRANT_GRPC_PORT=6334

export OLLAMA_BASE_URL=http://127.0.0.1:11434
export EMBED_MODEL=nomic-embed-text
export METADATA_MODEL=qwen2.5:3b

export LLM_METADATA=ollama
export LLM_ANALYSIS=ollama

export ANTHROPIC_API_KEY=
export DEEPSEEK_API_KEY=
